@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

@layer base {
  * {
    @apply border-slate-800;
  }
  body {
    @apply bg-slate-950 text-slate-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
